.background{
    background-image: url("background.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
}
.body{                
    margin: 0px;

}
.boy{
    width: 250px;
    margin-top: 400px;
    position: absolute;
}
.score{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: arial;
    margin-left: 30px;

}

.block{
    position: absolute;
    background-image: url("flame.gif");
    background-size: cover;
    width: 90px;
    height: 150px;
    margin-top: 460px;
}
.endScreen{
    position: absolute;
    width: 500px;
    height: 350px;
   
    background-color:yellow;
    border-color: red;

    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    color:purple;

    margin-left: 500px;
    margin-top: 120px;

    justify-content: center;
    align-items: center;
    display: flex;

    flex-direction: column;
    visibility: hidden;
    border-style: outset;
    border-color: red;
    
}
.endScore{
    font-size: 70px;
    color: red;
}
.btn{
    width: 200px;
    height: 50px;

    font-size: 25px;
    font-weight: bold;
    font-family: arial;

    background-color: blue;
    color: white;

    border: none;
    border-radius: 50px;

}
